:root {
    --primary: #40c32f7a;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 10px;
  }
  
  .btn--success {
    background-color: var(--success);
    color: #242424;
    border: 1px solid var(--success);
  }
  
  .btn--outline {
    background-color: #40c32f7a;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #40c32f;
    color: #fffdfd;
    transition: 250ms;
  }